<%- content_for :header do -%>
  <div id="findFlights">
    <div id="midHeader"><h2>Demo</h2></div>
  </div>
<%- end -%>
<div id="introWrap">
  <div id="intro">
    <%= link_to "Find Flights", "/flight"%>
  </div>
</div>