@media only screen and (min-width: 800px) {

}/*/mediaquery*/


@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

}

@media only screen and (max-device-width: 480px) {
  header {
    background: transparent url("headBG.jpg") repeat-x;
    height:56px;
  }
  #back {
    position:absolute;
    z-index:10;
    top:5px;
    left:5px;
  }
  a#backBtn {
    background: transparent url("homeBtn.jpg") no-repeat;
    height:32px;
    width:28px;
    display:block;
    text-indent:-9999px;
  }
  #midHeader {
    background: transparent url("commonHead.jpg") no-repeat;
    width: 110px;
    height: 56px;
    margin: 0 auto;
    position: relative;
    text-align: center;
  }
  #midHeader h2 {
    color: white;
    padding-top: 10px;
    font-family: Arial;
    margin: 0 auto;
  }
  #crumb {
    position:absolute;
    right:10px;
    top:0px;
  }
  #crumb h3 {
    color:white;
  }
}

h2#findFlights {
  background: transparent url("headFindFlights.jpg") no-repeat;
  text-indent:-9999px;
}

/* Calendar Hacks */
.reset{
  margin:0;
  padding:0;
}
#drWrap {
  border:1px solid #d5d5d5;
  width:90%;
  margin:1em 5%;
  border-radius: 5px;
  float:left;
}
#drWrap ul#dr {
  list-style:none;
}
#drWrap ul#dr li {
  width:50%;
  display:inline;
  float:left;
}
.tapable {
  
}
.left {float:left;}
.ui-datepicker {
  margin:0 auto;
}
