@media only screen and (min-width: 800px) {

}/*/mediaquery*/


@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

}


@media only screen and (max-width: 480px) {
  header {
    background: transparent url("headBG.jpg") repeat-x;
    height:56px;
  }
  #back {
    position:absolute;
    z-index:10;
    top:5px;
    left:5px;
  }
  a#backBtn {
    background: transparent url("homeBtn.jpg") no-repeat;
    height:32px;
    width:28px;
    display:block;
    text-indent:-9999px;
  }
  #midHeader {
    background: transparent url("commonHead.jpg") no-repeat;
    width: 110px;
    height: 56px;
    margin: 0 auto;
    position: relative;
    text-align: center;
  }
  #midHeader h2 {
    color: white;
    padding-top: 10px;
    font-family: Arial;
    margin: 0 auto;
  }
  #crumb {
    position:absolute;
    right:10px;
    top:0px;
  }
  #crumb h3 {
    color:white;
  }
  footer {
    width: 100%;
    height:52px;
    margin: 0 auto;
    background-color:#000000;
    border-bottom:1px solid #666;
    float:left;
  }
  footer nav {
    text-align:center;
    padding-top: 3px;
  }
  footer nav ul {
    /*width: 480px;*/
    width: 335px;
    display: inline-block;
    height: 36px;
    padding-top:5px;
  }
  footer nav ul li {
    text-align: center;
    width:105px;
    float:left;
    display: block;
  }
  footer nav ul li a, footer nav ul li a:visited {
    padding: 12px 3px;
    height: 12px;
    background-color: #383838;
    color: white;
    text-decoration: none;
    display: block;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 11px;
  }
  footer #copyright {
    width:100%;
    text-align:center;
    font-size:12px;
    color:#bebebe;
  }
  .withGap {margin-right:10px;}
  .cancelBtn {
    background: url("cancelBtn.jpg") no-repeat;
    width:59px;
    height:34px;
    position:absolute;
    z-index:20;
    left:5px;
    line-height: 0;
    text-indent: -9999px;
  }
  .doneBtn {
    background: url("doneBtn.jpg") no-repeat;
    width:59px;
    height:34px;
    position:absolute;
    z-index:20;
    top:5px;
    right:5px;
    line-height: 0;
    text-indent: -9999px;
  }

#main {
  padding:10px;
  margin:0 auto;
}
#main ul#flightNav li {
  display:inline;
  float:left;
  text-align:center;
  width:98px;
}
#main ul#flightNav li a {
  background: transparent url("tabs.png") no-repeat;
  height:33px;
  width:98px;
  display:block;
  color:#484848;
  font-size:18px;
  text-decoration:none;
  line-height:33px;
}
#main ul#flightNav li a.current {
  background: transparent url("tabs.png") -99px 0 no-repeat;
  color:#ffffff;
}

#toFrom, #schedule {
  width:100%;
  float:left;
  margin-top:14px;
}
#toFrom ul {
  width:100%;
  float:left;
  margin:0;
  padding:0;
}

#toFrom ul li {
  width:300px;
  display:inline;
  height:124px;
  float:left;
}
#toFrom div {
    width:100%;
}
#toFrom div div.lbl {
    width:220px;
}
#toFrom div div a {
  width: 133px;
  height: 40px;
  display: block;
  color:#000;
  text-decoration: none;
  display: block;
  padding: 10px;
  font-size: 15px;
}
#toFrom div div a.fromLink {
  background:transparent url("fromTo.png") no-repeat bottom left;
}
#toFrom div div a.toLink {
  background:transparent url("fromTo.png") -150px 0 no-repeat;
}
#toFrom div div h2 {
  margin: 0;
  height:29px;
}
#toFrom ul li span {
  width:250px;
  padding-left:30px;
  margin-top:30px;
}
#toFrom ul li span.locAbbr {
  font-size:45px;
  font-weight:bold;
  display:block;
}
#toFrom ul li span.locFull {
  font-size:16px;
  line-height:16px;
}
#toFrom ul li.toDest span.locAbbr, #toFrom ul li.toDest span.locFull {
  width:260px;
  padding-left:40px;
}

#scheduleDetails {
  width:480px;
  margin:0 auto;
  float:left;
  border:1px solid #e2e2e2;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow:0 0 7px #e2e2e2;
  -moz-box-shadow: 0 0 7px #e2e2e2;
  box-shadow:0 0 7px #e2e2e2;
}
#scheduleDetails ul {
  list-style:none;
  margin:0;
  padding:0;
  float:left;
}
#scheduleDetails ul li {
  display:inline;
  float:left;
  width:263px;
  padding:25px 0 0 30px;
  height:156px;
}
.sDepart {
  line-height:34px;
  font-size:16px;
  font-weight:bold;
}
.departTxt {
  height:34px;
  display:block;
  float:left;
}
.departIcon {
  height:34px;
  width:34px;
  background:transparent url("icons.jpg") no-repeat;
  display:block;
  float:left;
  margin-left:15px;
}
.sDepartDate {
  margin-top:15px;
}
#sdDay, #sdMonth {
  font-size:18px;
}
#sdDay {
  color:#7f7f7f;
}
#sdDate {
  font-size:70px;
  font-weight:bold;
  text-align:left;
}
#findFlightsSec {
  width:480px;
  margin: 0 auto;
  display:block;
}
#searchFLight a {
  text-indent: -99999px;
  width:141px;
  height: 38px;
  display:block
}
a#lowestFares{
  background: url("searchBtn.jpg") no-repeat;
  margin-right:20px;
}
a#exactDates{
  background: url("searchBtn.jpg") 0 -38px no-repeat;
}
.fullWidth {width:100%}
.halfWidth {width:50%;}
.half {width:281px;}
.floatLeft {float:left;}
.floatRight {float:right;}
.lbl {font-size:16px;font-weight:bold;padding-left:20px;}
}




h2#findFlights {
  background: transparent url("headFindFlights.jpg") no-repeat;
  text-indent:-9999px;
}

/* Calendar Hacks */
.reset{
  margin:0;
  padding:0;
}
#drWrap {
  border:1px solid #d5d5d5;
  width:90%;
  margin:1em 5%;
  border-radius: 5px;
  float:left;
}
#drWrap ul#dr {
  list-style:none;
}
#drWrap ul#dr li {
  width:50%;
  display:inline;
  float:left;
}
.schedtaps {
  padding:5px;
}
.tapable {
  border:2px solid #fff;
  background-color:#eceaeb;
  border-radius: 5px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eceaeb), to(#c2c2c2));
  background: -webkit-linear-gradient(top, #eceaeb, #c2c2c2);
  background: -moz-linear-gradient(top, #eceaeb, #c2c2c2);
  -moz-box-shadow: 1px 0px 5px #888;
  -webkit-box-shadow: 1px 0px 5px #888;
  box-shadow: 1px 0px 5px #888;
}
.schedtaps h4{
  margin:0;
  padding:0;
}
.left {float:left;}
.ui-datepicker {
  width:88%;
  margin:0 auto;
}
.hidden {display:none;}
.fullwidth {width:100%;}
#datepickerD, #datepickerR {
  margin:0 auto;
}

/* Flight Search Area */
@media only screen and (max-width: 330px) {
  .searchField {
    width: 150px;
  }
}

@media only screen and (min-width: 331px) and (max-width: 480px) {
  .searchField {
    width: 250px;
  }
}

#flightForm {
  float: left;
  margin: 9px 0px 0px 9px;
}

  .searchFieldGroup {
    display: inline-block;
    border: solid 1px #ccddee;
  }

    .searchField {
      padding: 4px 28px 4px 6px;
      border: 1px solid;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      color: #808080;
      font-style: italic;
    }

    #clearSearch {
      position: relative;
      z-index: 9;
      margin: 0px 20px 0px -30px;
      display: inline-block;
      width: 16px;
      height: 16px;
      background-color: #808080;
      cursor: pointer;
    }

#intro {
  width:100px;
  text-align:center;
  margin:5em auto;
}
#intro a, #intro a:visited {
  text-decoration:none;
  font-weight:bold;
  color:#fff;
  background-color:#ff5216;
  padding:0.5em 0.75em;
  border-radius:5px;
}
