<%- content_for :header do -%>
  <div id="findFlights">
    <div id="calendar"><a href="/flight" class="cancelBtn">Back</a></div>
    <div id="midHeader"><h2>Schedules</h2></div>
    <div id="crumb"><a href="/flight" class="doneBtn">Done</a></div>
  </div>
<%- end -%>


<div id="drWrap">
  <ul id="dr" class="reset">
    <li>
      <div class="tapable schedtaps left" id="dd">
        <h4>Depart</h4>
        <div class="left fullwidth">
          <div id="departDetails" class="hidden"></div>
          <div id="dpDate" class="halfw left">Oct<br />2011</div>
          <div id="dpDay" class="halfw left">16</div>
        </div>
      </div>
    </li>
    <li>
      <div class="schedtaps left" id="rd">
        <h4>Return</h4>
        <div class="left fullwidth">
          <div id="returnDetails" class="hidden"></div>
          <div id="rpDate" class="halfw left">October<br />2011</div>
          <div id="rpDay" class="halfw left">30</div>
        </div>
      </div>
    </li>
  </ul>
</div>
<div id="dps" class="left fullwidth">
  <div id="datepickerD">
  </div>
  <div id="datepickerR" class="hidden">
  </div>
</div>



