<%- content_for :header do -%>
  <div id="findFlights">
    <div id="back"><a href="#" id="backBtn">Back</a></div>
    <div id="midHeader"><h2>Schedules</h2></div>
    <div id="crumb"></div>
  </div>
<%- end -%>
<ul>
  <li>
    <p>Depart</p>
    <div id="departDetails">
      Depart Date Here
    </div>
  </li>
  <li>
    <p>Return</p>
    <div id="returnDetails">
      Return Date Here
    </div>
  </li>
</ul>
<div id="datepickerD">
</div>
<div id="datepickerR">
</div>