<%- content_for :header do -%>
  <div id="findFlights">
      
        <span id="searchFieldGroup">
          <strong><%= "#{(params[:q] == "from")? "From" : "To" }" %></strong>
          <%= text_field_tag params[:q], "", :id => "search_#{params[:q]}", :class => "searchField", :placeholder => "Type a city or Airport Code" %>
          <span id="clearSearch"><span class="hidden">Clear Search</span></span>
        </span>
      <%= form_tag(flight_index_path, :method => :post, :id => "flightForm") do %>
        <%= hidden_field_tag params[:q], "", :id => "search_#{params[:q]}_hidden" %>
      <%- end -%>
    <a href="/flight" class="doneBtn">Done</a>
  </div>
<%- end -%>

<!-- <div id="searchWrap">
  <div id="search_<%#= params[:q] %>_list">
    
  </div>
</div> -->

<div class="contentWrap left">
  <%- if session[:origin].blank? %>
    <div id="airportLst" class="grayBg searchResults">Airports nearest to your current location</div>
    <ul id="searchResultUl"></ul>
  <%- else -%>
    <div id="airportLst" class="grayBg searchResults">Search airports via City or Airport Code</div>
  <%- end -%>
</div>