<%- content_for :header do -%>
  <div id="findFlights">
      <%= form_tag(flight_index_path, :method => :post, :id => "flightForm") do %>
        <span id="searchFieldGroup">
          <strong><%= "#{(params[:q] == "from")? "From" : "To" }" %></strong>
          <%= text_field_tag params[:q], "Type name or city", :id => "search_#{params[:q]}", :class => "searchField" %>
          <span id="clearSearch"><span class="hidden">Clear Search</span></span>
        </span>
      <%- end -%>
    <a href="#" class="doneBtn">Done</a>
  </div>
<%- end -%>

<div id="searchWrap">
  <div id="search_<%= params[:q] %>_list"></div>
</div>